
.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2em;
}

.cardsConteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:100vw;
}