@import "../components/colors.module.css";

.homePage {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--background);
    color: var(--text);
}

.cardsContainer{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:70%;
}

.filters{
    width: 30%;
    position: fixed;
}

.filtersTitle{
    font-size: 50px;
    text-align: center;
}

.filtersData{
    font-size: 35px;
    margin-left: 20px;
}

.select{
    font-size: 25px;
    margin-left: 20px;
}