@import "../components/colors.module.css";

.accountContainer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    margin-right: 200px;
    margin-top: 50px;
}

.mainElem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -57px;
    width: 40%;
}