@import "./colors.module.css";

.pageNav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  z-index: 99;
  height: 65px;
  box-shadow: 0 3px 7px var(--text-edit);
  background-color: var(--top-panel);
  color: var(--text);
  position: fixed;
  top: 0;
}

.logo {
  padding-left: 100px;
  justify-self: start;
}

.searchBar {
  display: flex;
  justify-self: center;
  position: relative;
  left: calc(50% - 282px);
  z-index: 10;
}

.input {
  width: calc(300px - 18px);
  height: 29px;
  border-radius: 15px;
  border: none;
  background-color: var(--button-idle);
  padding-left: 18px;
}

.searchIcon {
  position: relative;
  right: 36px;
  top: 5px;
}

.space {
  width: 1000px;
  max-width: calc(65%);
}

.rightIcons {
  width: fit-content;
}

.rightIcons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-right: 80px;
}

.rightIcons li {
  margin: 0 14px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightIcons .account {
  display: flex;
  flex-direction: row;
}

button {
  background-color: var(--top-panel);
  border: none;
  color: var(--text);
  font-size: 1em;
}

button:hover {
  color: var(--not-member);
  cursor: pointer;
}

.leftIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftIcons li{
  margin: 0 10px;
  width: max-content;
}
