.page-nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: var(--primary-color-darker);
}

.page-nav .page-nav__logo {
  padding-left: 80px;
  justify-self: start;
}

.page-nav .page-nav__search-bar {
  display: flex;
  justify-self: center;
  position: relative;
  left: calc(50% - 282px);
  z-index: 10;
}

.page-nav .page-nav__search-bar .search-bar-input {
  width: calc(300px - 18px);
  height: 29px;
  border-radius: 15px;
  border: none;
  background-color: var(--primary-color-lighter);
  padding-left: 18px;
}

.page-nav .page-nav__search-bar .search-icon {
  position: relative;
  right: 36px;
  top: 5px;
}

.page-nav .page-nav__space {
  width: 1250px;
  max-width: calc(65%);
}

.page-nav .page-nav__right-icons {
  width: fit-content;
}

.page-nav .page-nav__right-icons .right-icons-elements {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-right: 80px;
}

.page-nav .page-nav__right-icons .right-icons-elements li {
  margin: 0 14px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-nav
  .page-nav__right-icons
  .right-icons-elements
  .shopping-cart:hover
  .shopping-cart-dropdown,
.page-nav .right-icons .right-icons-elements .shopping-cart-dropdown:hover {
  display: flex;
  transition: 0.1s;
}

@media screen and (min-width: 800px) {
  .page-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    margin: 0;
    box-shadow: 0 3px 7px #858585;
  }

  .page-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: var(--primary-color-darker);
  }

  .page-nav .page-nav__logo {
    padding-left: 80px;
    justify-self: start;
  }

  .page-nav .page-nav__search-bar {
    left: calc(50% - 282px);
    top: 0px;
  }

  .page-nav .page-nav__search-bar .search-bar-input {
    width: calc(300px - 18px);
    height: 29px;
    border-radius: 15px;
    border: none;
    background-color: var(--primary-color-lighter);
    padding-left: 18px;
  }

  .page-nav .page-nav__search-bar .search-icon {
    position: relative;
    right: 36px;
    top: 5px;
  }

  .page-nav .page-nav__space {
    width: 1250px;
    max-width: calc(65%);
  }

  .page-nav .page-nav__right-icons {
    width: fit-content;
  }

  .page-nav .page-nav__right-icons .right-icons-elements {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-right: 80px;
  }

  .page-nav .page-nav__right-icons .right-icons-elements li {
    margin: 0 14px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
