@import "./colors.module.css";

.pageNav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  z-index: 99;
  height: 58px;
  box-shadow: 0 3px 7px #858585;
  background-color: var(--main-color-dark);
  position: fixed;
  top: 0;
}

.logo {
  padding-left: 80px;
  justify-self: start;
}

.searchBar {
  display: flex;
  justify-self: center;
  position: relative;
  left: calc(50% - 282px);
  z-index: 10;
}

.input {
  width: calc(300px - 18px);
  height: 29px;
  border-radius: 15px;
  border: none;
  background-color: var(--main-color-light);
  padding-left: 18px;
}

.searchIcon {
  position: relative;
  right: 36px;
  top: 5px;
}

.space {
  width: 1250px;
  max-width: calc(65%);
}

.rightIcons {
  width: fit-content;
}

.rightIcons ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 0;
  margin-right: 80px;
}

.rightIcons li {
  margin: 0 14px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {

  .searchBar {
    left: calc(50% - 282px);
    top: 0px;
  }
  .input {
    width: calc(300px - 18px);
    height: 29px;
    border-radius: 15px;
    border: none;
    background-color: var(--main-color-light);
    padding-left: 18px;
  }
  .searchIcon {
    position: relative;
    right: 36px;
    top: 5px;
  }
  .space {
    width: 1250px;
    max-width: calc(65%);
  }
  .rightIcons {
    width: fit-content;
  }
  .rightIcons ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    margin-right: 80px;
  }
  .rightIcons li {
    margin: 0 14px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
